<!-- Modal Nutzer unbekannt -->
<div class="modal fade" id="modalUnknownUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Benutzername unbekannt</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dieser Benutzername existiert nicht oder das Passwort ist falsch.</p>
        <p>Bitte registrieren Sie sich oder versuchen es erneut.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <a href="/register" class="btn btn-outline-danger" role="button">Registrieren</a>
      </div>
    </div>
  </div>
</div>