<!-- Modal Fehlerhaftes Format der E-Mail-Adresse -->
<div class="modal fade" id="modalEmailFormatFalse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Format der E-Mail-Adresse fehlerhaft</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Die eingetragene E-Mail-Adresse ist fehlerhaft.</p>
        <p>Bitte wählen Sie einen andere E-Mail-Adresse oder nutzen Sie den Login.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <a href="/login" class="btn btn-outline-danger" role="button">Login</a>
      </div>
    </div>
  </div>
</div>