<!-- Modal kein Admin -->
<div class="modal fade" id="modalNoAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Kein Administrator</h1>
      </div>
      <div class="modal-body">
        <p>Sie sind kein Administrator und können die Fragen nicht editieren.</p>
        <p>Bitte loggen Sie sich mit einem Adminzugang ein.</p>
      </div>
      <div class="modal-footer">
        <a href="/login" class="btn btn-outline-danger" role="button">Login</a>
      </div>
    </div>
  </div>
</div>