<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
 
    <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
      
        <div class="media text-muted pt-3">
      </div>
      <h5>
        <p>Fügen Sie eine neue Frage zum Modul: <span class="badge bg-secondary"><%= moduleselect.name %></span> hinzu:</p>
      </h5>
    </main>
    <section class="vh-100">
        <div class="container py-5 h-100">          
              <form action="/addQuestion" method="POST">
                
                <!-- Question input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form1Example13">Frage:</label>
                  <input type="text" name="question" class="form-control form-control-lg" required/>
                </div>

                <!-- Right answer input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Richtige Antwort:</label>
                    <input type="text" name="rightAnswer" class="form-control form-control-lg" required/>
                  </div>

                  <!-- Answer 2 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Antwort 2:</label>
                    <input type="text" name="answer2" class="form-control form-control-lg" required/>
                  </div>

                  <!-- Answer 3 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Antwort 3:</label>
                    <input type="text" name="answer3" class="form-control form-control-lg" required/>
                  </div>

                  <!-- Answer 4 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Antwort 4:</label>
                    <input type="text" name="answer4" class="form-control form-control-lg" required/>
                  </div>

                  <!-- Explanation input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Erläuterung:</label>
                    <input type="text" name="explanation" class="form-control form-control-lg" />
                  </div>
      
      
                <!-- Submit button -->
                <div class="d-flex align-items-center justify-content-center pb-4">
                  <button type="submit" class="btn btn-dark btn-lg btn-block">Frage hinzufügen</button>
                </div>
              </form>
              
            </div>
      </section>
</body>
</html>