<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body>
  <%- include('./partials/header'); %>

<p>Willkommen, <%= user.username %>!</p>
<p>Spielsitzungen</p>

</body>
</html>