<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
 
    <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
      <h6 class="border-bottom border-gray pb-2 mb-0">
        <p>Fragenverwaltung</p>
      </h6>
        <div class="media text-muted pt-3">
      </div>
      <h5>
        
      </h5>
    </main>
</body>
</html>