<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
 
    <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
      <h5 class="border-bottom border-gray pb-2 mb-0">
        <p>Fragenverwaltung</p>
      </h5>
      <div class="media text-muted pt-3">
      </div>
      <p>Hier können Sie die Fragen der einzelnen Module verwalten.</p>
      <p>Bitte wählen Sie die entsprechende Frage aus oder erstellen Sie eine Neue.</p>
      <div class="media text-muted pt-3">
      </div>
        <a href="/addQuestion" class="btn btn-secondary" role="button">Frage hinzufügen</a>
      <div class="media text-muted pt-3">
      </div>
        <!-- Tabelle aller vorhandenen Fragen -->
        <table id="ModulesTable" class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Fragentitel</th>
          </tr>
          </thead>
          <tbody>
            <% question.forEach( question => { %>
              <tr>
                <th scope="row"><%= question.question %></th>
              </tr>
              <% }); %> 
          </tbody>
          </table>
    </main>
</body>
</html>