<h1>Registrierung</h1>

<form action="/register" method="POST">
  <input type="email" name="email" placeholder="E-Mail-Adresse" required>
  <input type="password" name="password" placeholder="Passwort" required>
  <input type="password" name="confPassword" placeholder="Passwort wiederholen" required>
  <button type="submit">Jetzt registrieren</button>
</form>
