<h1>Registrierung</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="Benutzername" required>
  <input type="password" name="password" placeholder="Passwort" required>
  <input type="password" name="password2" placeholder="Passwort wiederholen" required>
  <button type="submit">Jetzt registrieren</button>
</form>
